html {
  box-sizing: border-box;
  --prim-color: hsl(192, 24%, 96%);
  --light-color:  hsl(0, 0%, 100%);
  --text-color:  linear-gradient(var(--prim-color), black);
  --hover-color: hsl(0, 0%, 0%);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

header {
  background-image: linear-gradient(0,var(--prim-color), var(--light-color));
  margin-bottom: 1em;
}
header a{
  text-decoration: none;
  color: var(--text-color);
}

.container {
  width: 1200px;
  margin: 15px auto;
  padding: 10px;
  font-family:Arial, Helvetica, sans-serif;
}

.img-hero {
  width: 100%;
  height: auto;
}

.title {

  margin-top: 0.5em;
  color: var(--text-color);
}

.cards-container{
  list-style-type: none;

}

.card{
  display: inline-block;
  width: 350px;
  height: 500px;
  text-align: center;
  margin-right: 2em;
  margin-top: 2em;
  margin: 2em 2em 2em 0;
  vertical-align: top;
  background-image: linear-gradient(var(--prim-color), var(--light-color));
  border: 1px solid white;
  border-radius: 15px;
}

.card img {
  width: 98%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card a {
  color: var(--text-color);
  text-decoration: none; 
  display: inline-block;
}
.card p {
  text-align: left;
  margin-top: 0.5em;
  line-height: 1.5em;
}

.card button {
  display: block;
  margin: 30px auto;
  padding: 15px 50px;
  border-radius: 25px;
  border-color: var(--text-color);
  background-color: hsl(0, 0%, 100%);
  font-size: 1.2em;
}

.card button:hover {
  background-color: var(--prim-color);
  border-color:  var(--prim-color);
}


.card:hover {
border: 3px solid var(--prim-color);
}


footer {
  background-image: linear-gradient(var(--prim-color), var(--light-color));
  color: var(--text-color);
  margin-top: 1em;
  font-size: 1em;
  
}
.footer-about, .footer-address, .footer-contact {
  padding: 1em;
}

.footer-about {
  display: inline-block;
  margin: 0 2em 2em 0;
  width: 30%;
  vertical-align:top;
}
.footer-about p {
  display: inline;
}

.footer-address {
  display: inline-block;
  text-align: left;
  margin-bottom: 2em;
  vertical-align:top;
  width: 30%;
}

.footer-contact {
  display: inline-block;
  text-align: left;
  margin-right: 2em;
  margin-bottom: 2em;
  width: 30%;
}
.footer-contact address {
  display: inline-block;
  margin-right: 2em;
  
}

.footer-contact a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  margin-bottom: 0.5em;
  text-align: left;
}

.footer-about .copy-right {
  display: block;
  margin-top: 40px;
}



